<div class="flex gap-2">
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="secondary">Secondary</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>  
</div>

<mat-divider></mat-divider>

<!-- <form class="example-form"> -->
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input  matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
  </mat-form-field>
<!-- </form> -->

<mat-divider></mat-divider>

<mat-toolbar class="gap-2">
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="secondary">Secondary</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <!-- <form class="example-form"> -->
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <input type="text" matInput placeholder="Type here...">
    </mat-form-field>
  <!-- </form> -->
</mat-toolbar>

